body{
    background-color: gray;
}
p
{
    color: orange;
    text-align: center;
}

p:hover
{
    color: rebeccapurple;
}
 table
 {
     background-color: gray;
     border: orangered;
     border-style: dotted;
     border-style: ridge;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 tr
 {
color: blue;
border: coral;
border-style:inset;
border-style: solid;
 }

 td 
 {
    color: orange;
    border-style: dotted;

}

td:hover
{
    color: gray;
    background-color: orange;
}

button{
    shape-rendering: crispEdges;
    color: gray;
    background: orange;
    border-radius: 10px;
}

button:hover{
    color: orange;
    background-color: gray;
}

.center
{
 margin-left: auto;
 margin-right: auto;
 text-align: center;

}