p
{
    color: blue;
    text-align: center;
}

p:hover
{
    color: rebeccapurple;
}
 table
 {
     border: rebeccapurple;
     border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
 }

 tr
 {
color: blue;
border: coral;
border-style:inset;
 }

 td 
 {
    color: cornflowerblue;
    border-style: dotted;

}

td:hover
{
    color: red;
    background-color: darkgreen;
}